<div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!-- <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Mis sensores</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link active" id="real-time-tab" data-toggle="tab" href="#real-time" role="tab" aria-controls="real-time"
                    aria-selected="true">Vista en Tiempo Real</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false">Res&uacute;men</a>
                </li> -->
              </ul>
              <div class="tab-content" id="myTabContent">
                <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you.</div> -->
                
                <div class="tab-pane fade show active table-responsive text-nowrap" id="real-time" role="tabpanel" aria-labelledby="real-time-tab" data-ng-bind="data">
                  <table mdbTable striped="true">
                    <thead>
                      <tr>
                      <th>Fecha</th>
                      <th>Sensor</th>
                      <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let value of data;">
                        <td>{{value.formatDate}}</td>
                        <td>{{value.topic}}</td>
                        <td>{{value.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape.</div> -->
              </div>
</div>
