<div class="footer row">
    <div class="col-md-4 text-left">
        <p><small>CABA</small></p>
        <p><small>Argentina</small></p>
    </div>
    <div class="col-md-4 icon-col">
        <!-- <a class="fa fa-instagram" href="https://www.instagram.com/mccm2310" target="_blank"></a>
        <a class="fa fa-facebook-official" href="https://www.facebook.com/mccm2310" target="_blank"></a>
        <a class="fa fa-twitter" href="https://www.twitter.com/mccm2310" target="_blank"></a> -->
    </div>
    <div class="col-md-4 text-right">
        <p><small>Qui&eacute;nes somos?</small></p>
        <p><small>Misi&oacute;n y Visi&oacute;n</small></p>
        <p><small>Quieres ser parte?</small></p>
        <p><small>Contacto</small></p>
    </div>
</div>
