<div class="footer row">
    <div class="col-md-4 text-left">
        <p><small>CABA</small></p>
        <p><small>Argentina</small></p>
    </div>
    <div class="col-md-4 icon-col">
        <a class="fa fa-instagram" href="https://www.instagram.com/mywatersense" target="_blank"></a>
        <a class="fa fa-facebook-official" href="https://www.facebook.com/mywatersense.ar" target="_blank"></a>
        <a class="fa fa-twitter" href="https://www.twitter.com/mywatersense" target="_blank"></a>
    </div>
    <div class="col-md-4 text-right">
        <p><small>La empresa</small></p>
        <p><small>Misi&oacute;n y Visi&oacute;n</small></p>
        <p><small>Preguntas frecuentes</small></p>
        <p><small>Comun&iacute;cate con nosotros</small></p>
    </div>
</div>
