
$blue-medium: #194F6E;
$blue-dark: #194F6E;
$white: #fff;
$gray-light: #f7f7f7;
$black: black;
$border-dark: rgba(0, 0, 0, 0.125);
$border-blue: #90d8ef;

// @mixin adjustElement ($width, $display){
//     width: $width;
//     display: $display;
// }

.logo{
    height: 67px;
    width: 75px;
    margin: -12px 0px;    
    vertical-align: super;
}

body{
    margin: 0;
    width: 99.9vw;
}

.header{
    background-color: white;
    padding: 10px;
}

app-main-footer{
    position: fixed;
    bottom:0;
    width: 98.7vw;
}

.footer{    
    background: $blue-dark;    
    padding: 10px;
    color: $white;
    cursor: default;
}

.footer p{
    margin-bottom: 0;
}

.icon-col{
    font-size: 20px;
    text-align: center;
}

.icon-col a{
    margin-right: 10px;
    color: $white;
}

.icon-col a:hover{
    text-decoration: none;
    font-size: 25px;
    color: $blue-medium;
}

.main-bar{
    height: 30px;
    background: $blue-dark;
    padding: 10px;
    margin: 10px 10px;
}

.container{
    padding: 10px;
}

.display-inline-block{
    display: inline-block;
}

.tab-pane{
    padding: 10px 15px;
}

.container table{
    text-align: center;
}

@media (max-width: 418px){
    .mobile-right{
        float: right;
    }
    .header{
        min-height: 100px;
    }
}